/*Variables to control table height & width*/
@timeSlotHeight: 25px;
@totalTimeSlots: 16;
@seatWidth: 30px;

 .gradient (@origin: left, @start: #ffffff, @stop: #000000) {
 	background: @start; /* Old browsers */
    background: -moz-linear-gradient(top, @start 0%, @stop 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @start 0%,@stop 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @start 0%,@stop 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @start 0%,@stop 100%); /* IE10+ */
    background: linear-gradient(to bottom, @start 0%,@stop 100%); /* W3C */
    filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{start}', endColorstr='@{stop}',GradientType=0 )"; /* IE6-9 */
 }

 .border-radius (@radius: 5px) {
 	-webkit-border-radius: @radius;
 	-moz-border-radius: @radius;
 	border-radius: @radius;
 }
 .border-box-sizing(){
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

/*Body styles*/
body{
    font-size: 12px;
}
.container{
    width: 630px;
    margin: 0 auto;
}

#reservationChart{
    border-right: 1px solid black;
    display: inline-block;
    position: relative;
}

#timeChart,.table-1,.table-2,.table-3{
    background: white;
    border-left: 1px solid #333;
    float: left;
    display: inline-block;
    height: @timeSlotHeight * @totalTimeSlots + 14;
    vertical-align: top;
}

#tables{
    display: inline-block;
    float: left;
}

#timeChart{
    border-left: 0;
    width: @seatWidth * 2.5;
    margin-top: 14px;
    height: @timeSlotHeight * @totalTimeSlots + 1;
}

.time-slot{
    height: @timeSlotHeight;
    line-height: 42px;
}

.hour-separator{
    border-bottom: 1px solid black;
    position: absolute;
    width: 100%;
    z-index: 2;
}

/*Setting table widths depending on the number of chairs*/

.table-1{
    width: 2 * @seatWidth;
}
.table-2{
    width: 4 * @seatWidth;
}
.table-3{
    width: 3 * @seatWidth;
}

.slot-header{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
/*Occupied slots*/
.reservation{
    .gradient(left, #ed7171, #ea3535);
    border: 1px solid red;
    border-width: 1px 0 1px;
    .border-box-sizing()
}

/*Empty Vacancy*/
.vacant-slots{
    position: relative;
}

/*Styling for new reservation*/
 #newReservations{
     display: inline-block;
     margin-left: 100px;
     margin-top: 180px;
     vertical-align: top;
 }
.new-reservation{
    .border-radius();
    .gradient(left, #ccc, #d1d1d1);
    .border-box-sizing();
    &:hover, label:hover{
        cursor: move;
    }
}

.highlight-vacancy{
    .gradient(left, #66a1cc, #2586cc);
}

.dragged{
    z-index: 9999;
}

.reservation-added{
    .gradient(left, #4CAD71,#21b259);
    .border-box-sizing();
    border: 1px solid green;
}

.new-reservation,.reservation-added{
    label{
        display: block;
        font-weight: bold;
        position: relative;
        top: 20%;
        padding: 0 20px;
        text-align: center;
    }
}
